<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Expediente</title>
    <link rel="stylesheet" href="/css/formExpView.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <header>
            <h1>Editar Expediente</h1>
        </header>
        
        <section class="editar-expediente">
            <form action="/actualizar-expediente" method="POST">
                <div class="form-row">
                    <div class="form-group">
                        <label for="paciente">Paciente <span>*</span></label>
                        <select id="paciente" name="paciente" required>
                            <option value="" disabled selected>Seleccione al paciente</option>
                            <!-- Opciones de pacientes -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado <span>*</span></label>
                        <select id="estado" name="estado" required>
                            <option value="" disabled selected>Seleccione el Estado</option>
                            <!-- Opciones de estados -->
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="observaciones">Observaciones</label>
                    <textarea id="observaciones" name="observaciones" rows="5" placeholder="Ingrese las Observaciones de la Consulta"></textarea>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn-guardar">Actualizar</button>
                </div>
            </form>
        </section>
    </div>
</body>
</html>